.terraform/
**/.terraform/*
terraform.tfstate
terraform.tfstate.*
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*.pem
*.key
*.zip
*.tar.gz
*.log
.terraform/
terraform.tfstate*
*.tfvars
*.pem
*.key
ansible/inventory.ini
